* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: gray;
}

.container {
    width: 100vw;
    height: 100vh;
}

nav {   
    height: 70px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: violet;
}

.logo {
    width: 15vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 15vw;
    height: 100%;
}

.links ul, .links > ul > li, .links a {
    list-style-type: none;
    text-decoration: none;
    color: black;
}

.links {
    width: 85vw;
    height: 100%;
}

.links ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    gap: 220px;
}

.links ul img {
    display: flex;
    justify-content: center;
    align-items: center ;
}

.links ul > li {
    display: flex;
    align-items: center;
    height: 100%;
    width: 80px;
}

.menu {
    width: 5%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    
}

.container {
    background-image: url('/Assets/Images/landscape-background.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}   