* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: gray;
}

nav {
    height: 10vh;
    width: 100vw;
    background-color: orange;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}

.links ul, .links > ul > li, .links a {
    list-style-type: none;
    text-decoration: none;
    color: black;
}

.links {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: red;
}

.links ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    background-color: green;
}

.links ul > li {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
    height: 100%;
    width: 80px;
}

.menu {
    width: 5%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
}

.main {
    background-color: orange;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card1, .card2, .card3 {
    width: 300px;
    height: 500px;
    border-radius: 5%;
}

.card1 {
    background-color: red;
}
.card2 {
    background-color: green;
}
.card3 {
    background-color: yellow;
}

.card1:hover {
    background-color: red;
    width: 500px;
    height: 700px;
}

