* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: gray;
}

.container {
    width: 100vw;
    height: 100vh;
    background-image: url('/Assets/Images/landscape-background.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;    
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: red;
    height: 6vw;
    width: 100vw;
}

.logo {
    background-color: blueviolet;
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

nav img {
    width: 100%;
}

.links {
    background: greenyellow;
    width: 100%;
}

.links ul {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: orange;
}

.links li {
    list-style-type: none;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link img {
    height: 100%;
}

.links a {
   height: 100%; 
}

.menu {
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    width:4%;
}