* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: gray;
}

.container {
    width: 100vw;
    height: 100vh;
}

nav {   
    height: 5vw;
    width: 100vw;
    background-color: orange;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    width: 15vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}

.logo img {
    width: 15vw;
    height: 100%;
}

.links ul, .links > ul > li, .links a {
    list-style-type: none;
    text-decoration: none;
    color: black;
}

.links {
    width: 85vw;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: red;
}

.links ul {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: space-around;
    background-color: green;
}

.links ul img {
    display: flex;
    justify-content: center;
    align-items: center ;
}

.links ul > li {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
    height: 100%;
    width: 80px;
}

.menu {
    width: 5%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: blue;
    
}

.main {
    background-color: orange;
    width: 100vw;
    height: 95vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}   

.card1, .card2, .card3 {
    width: 300px;
    height: 500px;
    border-radius: 5%;
    padding: 20px;
    font-size: 1.2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.card1 {
    background-color: red;
}

.card2 {
    background-color: green;
}
.card3 {
    background-color: yellow;
}