* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: gray;
}

.container {
    width: 100vw;
    height: 100vh;
    background-image: url('/Assets/Images/landscape-background.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6vw;
    width: 100vw;
    padding: 5px;
    background-color: rgba(0, 149, 255, 0.308);
}

.logo {
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid black;
}

.logo:hover {
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
}

nav img {
    width: 100%;
    height: 100%;
}

.links {
    width: 100%;
}

.links ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.links li {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
}

.link img, .links a  {
    height: 100%;
}

.menu {
    display: none;
    justify-content: center;
    align-items: center;
    height: 60%;
    width:4%;
}

.menu img {
    height: 100%;
}

.cards-parent {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: calc(100% - 6vw);
}

.card1, .card2, .card3 {
    width: 25vw;
    height: 35vw;
    background-color: rgba(255, 0, 132, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.card-content {
    padding: 1.7vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 60%;
    background-color: rgba(11, 255, 255, 0.5);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 20px;
    font-size: 1.2vw;
    font-weight: bold;
}

